@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

$montserrat: 'Montserrat';
$fraunces: 'Fraunces';

//  Colors

////////// Primary ////////////

$dark-cyan: #3c8067;
$cream: #f2ebe3;

///////// Neutral /////////////

$very-dark-blue: #1c232b;
$dark-grayish-blue: #6c7289;
$white: #ffffff;
